amp-img {
    background-color: grey;
  }

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-item-image {
    overflow: hidden;
}

.section-amp-image:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.mms-container {
    max-width: 1188px;
    margin: 0 auto; 
}

.section-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df0000;
    width: 100%;
    height: 40px;
    margin: 0; 
    margin-top: -4px;
}

.section-item-text > h2 {
    color: white;
}

.mms-container .faq-header{
    color: #fff;
    font-size: 7vw !important;
    padding: 10px;
    line-height: 1;
    margin: 0;
    text-align: center;
    font-family: "MMHeadlineProWeb-regular" !important;
    background: #df0000;
}


amp-accordion section h4, h3 {
    background: #df0000 !important;
    color: #fff;
    font-family: "MMHeadlineProWeb-regular" !important;
    border-top: 2px solid #fff;
    font-size: 20px;
    padding: 10px 10px 12px 50px;
}

amp-accordion section p{
    display: block;
    font-family: "MMTextProWeb-regular";
    font-size: 16px;
    line-height: 1.25;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
}

.section-steps{
    background-color: #df0000;

}
.section-steps h1{
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #fff;
    font-size: 7vw !important;
}
